export AZ_COSMOS_KEY=
export AZ_COSMOS_ENDPOINT=
export AZ_COSMOS_DB=

export AZ_STORAGE_CONNECTION_STRING=
export AZ_MEDIA_STORAGE_CONTAINER=

export AZ_STT_API_KEY=
export AZ_STT_REGION=

export AZ_SEARCH_API_KEY=
export AZ_SEARCH_API_ENDPOINT=
export AZ_SEARCH_API_INDEX=

export APPINSIGHTS_INSTRUMENTATIONKEY=