swagger: '2.0'
info:
version: v2.0
title: Speech Services API v2.0
description: Speech Services API v2.0.
contact:
name: Cognitive Services - Speech Services
url: 'https://docs.microsoft.com/azure/cognitive-services/speech-service/support'
host: centralus.cris.ai
schemes:
- https
paths:
/api/speechtotext/v2.0/accuracytests:
get:
tags:
- 'Custom Speech accuracy tests:'
summary: Gets the list of accuracy tests for the authenticated subscription.
operationId: GetAccuracyTests
consumes: []
produces:
- application/json
parameters: []
responses:
'200':
description: OK
schema:
type: array
items:
$ref: '#/definitions/Test'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
- models:
- modelKind: Acoustic
datasets:
- dataImportKind: Acoustic
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: 9d5f4100-5f8e-4dd6-bd83-9bbbf50d57f1
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Acoustic dataset
properties:
AcceptedLines: '11'
RejectedLines: '2'
ReportUri: 'https://www.example.org/AcousticData/6d52cb46-a6d8-4954-ba7e-1407a1bc2a4a?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=a324840f-37fa-4bbf-91a7-1ced1052bc3e'
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Running
id: 827712a5-f942-4997-91c3-7c6cde35600b
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Acoustic model
description: Example for an acoustic model
- modelKind: Language
baseModel:
modelKind: AcousticAndLanguage
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: b28b9e52-395c-4d1b-b5a7-2c6fc4dd5715
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Base model
description: Base model description
properties: {}
datasets:
- dataImportKind: Language
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: 702d913a-8ba6-4f66-ad5c-897400b081fb
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Language dataset
properties:
AcceptedLines: '11'
RejectedLines: '2'
ReportUri: 'https://www.example.org/LanguageData/74be207a-22a3-4c24-b6c9-e51297d3d537?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=86eacb5b-f18e-4df4-a250-fcdcbc059c1b'
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Running
id: ff3c2797-f5f0-4122-9712-83ee87a0abb8
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Language model
description: This is a language model
dataset:
dataImportKind: Acoustic
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: 9d5f4100-5f8e-4dd6-bd83-9bbbf50d57f1
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Acoustic dataset
properties:
AcceptedLines: '11'
RejectedLines: '2'
ReportUri: 'https://www.example.org/AcousticData/6d52cb46-a6d8-4954-ba7e-1407a1bc2a4a?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=a324840f-37fa-4bbf-91a7-1ced1052bc3e'
wordErrorRate: 0
resultsUrl: 'https://contoso.com/results/9E32D75F-CEE1-47F5-BA32-65E9BBA18743'
id: 0000e4c4-0b0e-437f-b41d-bcfe7ebf7060
createdDateTime: '2019-01-07T11:34:12Z'
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Running
name: Accuracy test
properties: {}
'401':
description: In case the user isn't authorized.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Unauthorized
message: Authentication is required to access the resource.
x-ms-error-response: true
'403':
description: In case authorized user isn't known or doesn't have the required permissions.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Forbidden
message: No permission to access this resource.
x-ms-error-response: true
'429':
description: In case the rate limit has been exceeded.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
Retry-After:
description: The minimum number of seconds to wait before not getting this response anymore.
type: integer
examples:
application/json:
code: TooManyRequests
message: The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.
x-ms-error-response: true
security:
- subscription_key: []
token: []
post:
tags:
- 'Custom Speech accuracy tests:'
summary: Creates a new accuracy test.
operationId: CreateAccuracyTest
consumes:
- application/json
produces: []
parameters:
- name: testDefinition
in: body
description: The details of the new accuracy test.
required: true
schema:
$ref: '#/definitions/TestDefinition'
responses:
'401':
description: In case the user isn't authorized.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Unauthorized
message: Authentication is required to access the resource.
x-ms-error-response: true
'403':
description: In case authorized user isn't known or doesn't have the required permissions.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Forbidden
message: No permission to access this resource.
x-ms-error-response: true
'429':
description: In case the rate limit has been exceeded.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
Retry-After:
description: The minimum number of seconds to wait before not getting this response anymore.
type: integer
examples:
application/json:
code: TooManyRequests
message: The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.
x-ms-error-response: true
security:
- subscription_key: []
token: []
'/api/speechtotext/v2.0/accuracytests/{id}':
get:
tags:
- 'Custom Speech accuracy tests:'
summary: Gets the accuracy test identified by the given ID.
operationId: GetAccuracyTest
consumes: []
produces:
- application/json
parameters:
- name: id
in: path
description: The identifier of the accuracy test.
required: true
type: string
format: uuid
responses:
'200':
description: OK
schema:
$ref: '#/definitions/Test'
headers:
Retry-After:
description: The minimum number of seconds to wait for a running operation to complete.
type: integer
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
models:
- modelKind: Acoustic
datasets:
- dataImportKind: Acoustic
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: 9d5f4100-5f8e-4dd6-bd83-9bbbf50d57f1
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Acoustic dataset
properties:
AcceptedLines: '11'
RejectedLines: '2'
ReportUri: 'https://www.example.org/AcousticData/6d52cb46-a6d8-4954-ba7e-1407a1bc2a4a?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=a324840f-37fa-4bbf-91a7-1ced1052bc3e'
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Running
id: 827712a5-f942-4997-91c3-7c6cde35600b
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Acoustic model
description: Example for an acoustic model
- modelKind: Language
baseModel:
modelKind: AcousticAndLanguage
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: b28b9e52-395c-4d1b-b5a7-2c6fc4dd5715
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Base model
description: Base model description
properties: {}
datasets:
- dataImportKind: Language
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: 702d913a-8ba6-4f66-ad5c-897400b081fb
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Language dataset
properties:
AcceptedLines: '11'
RejectedLines: '2'
ReportUri: 'https://www.example.org/LanguageData/74be207a-22a3-4c24-b6c9-e51297d3d537?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=86eacb5b-f18e-4df4-a250-fcdcbc059c1b'
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Running
id: ff3c2797-f5f0-4122-9712-83ee87a0abb8
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Language model
description: This is a language model
dataset:
dataImportKind: Acoustic
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: 9d5f4100-5f8e-4dd6-bd83-9bbbf50d57f1
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Acoustic dataset
properties:
AcceptedLines: '11'
RejectedLines: '2'
ReportUri: 'https://www.example.org/AcousticData/6d52cb46-a6d8-4954-ba7e-1407a1bc2a4a?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=a324840f-37fa-4bbf-91a7-1ced1052bc3e'
wordErrorRate: 0
resultsUrl: 'https://contoso.com/results/9E32D75F-CEE1-47F5-BA32-65E9BBA18743'
id: 0000e4c4-0b0e-437f-b41d-bcfe7ebf7060
createdDateTime: '2019-01-07T11:34:12Z'
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Running
name: Accuracy test
properties: {}
'401':
description: In case the user isn't authorized.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Unauthorized
message: Authentication is required to access the resource.
x-ms-error-response: true
'403':
description: In case authorized user isn't known or doesn't have the required permissions.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Forbidden
message: No permission to access this resource.
x-ms-error-response: true
'404':
description: In case the specified entity doesn't exist
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: NotFound
message: The specified entity cannot be found.
x-ms-error-response: true
'429':
description: In case the rate limit has been exceeded.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
Retry-After:
description: The minimum number of seconds to wait before not getting this response anymore.
type: integer
examples:
application/json:
code: TooManyRequests
message: The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.
x-ms-error-response: true
security:
- subscription_key: []
token: []
delete:
tags:
- 'Custom Speech accuracy tests:'
summary: Deletes the accuracy test identified by the given ID.
operationId: DeleteAccuracyTest
consumes: []
produces: []
parameters:
- name: id
in: path
description: The identifier of the accuracy test.
required: true
type: string
format: uuid
responses:
'204':
description: The test was successfully deleted.
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
'401':
description: In case the user isn't authorized.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Unauthorized
message: Authentication is required to access the resource.
x-ms-error-response: true
'403':
description: In case authorized user isn't known or doesn't have the required permissions.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Forbidden
message: No permission to access this resource.
x-ms-error-response: true
'429':
description: In case the rate limit has been exceeded.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
Retry-After:
description: The minimum number of seconds to wait before not getting this response anymore.
type: integer
examples:
application/json:
code: TooManyRequests
message: The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.
x-ms-error-response: true
security:
- subscription_key: []
token: []
patch:
tags:
- 'Custom Speech accuracy tests:'
summary: Updates the mutable details of the test identified by its id.
operationId: UpdateAccuracyTest
consumes:
- application/json
produces:
- application/json
parameters:
- name: id
in: path
description: The identifier of the accuracy test.
required: true
type: string
format: uuid
- name: testUpdate
in: body
description: The object containing the updated fields of the test.
required: true
schema:
$ref: '#/definitions/TestUpdate'
responses:
'200':
description: OK
schema:
$ref: '#/definitions/Test'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
models:
- modelKind: Acoustic
datasets:
- dataImportKind: Acoustic
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: 9d5f4100-5f8e-4dd6-bd83-9bbbf50d57f1
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Acoustic dataset
properties:
AcceptedLines: '11'
RejectedLines: '2'
ReportUri: 'https://www.example.org/AcousticData/6d52cb46-a6d8-4954-ba7e-1407a1bc2a4a?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=a324840f-37fa-4bbf-91a7-1ced1052bc3e'
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Running
id: 827712a5-f942-4997-91c3-7c6cde35600b
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Acoustic model
description: Example for an acoustic model
- modelKind: Language
baseModel:
modelKind: AcousticAndLanguage
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: b28b9e52-395c-4d1b-b5a7-2c6fc4dd5715
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Base model
description: Base model description
properties: {}
datasets:
- dataImportKind: Language
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: 702d913a-8ba6-4f66-ad5c-897400b081fb
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Language dataset
properties:
AcceptedLines: '11'
RejectedLines: '2'
ReportUri: 'https://www.example.org/LanguageData/74be207a-22a3-4c24-b6c9-e51297d3d537?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=86eacb5b-f18e-4df4-a250-fcdcbc059c1b'
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Running
id: ff3c2797-f5f0-4122-9712-83ee87a0abb8
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Language model
description: This is a language model
dataset:
dataImportKind: Acoustic
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: 9d5f4100-5f8e-4dd6-bd83-9bbbf50d57f1
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Acoustic dataset
properties:
AcceptedLines: '11'
RejectedLines: '2'
ReportUri: 'https://www.example.org/AcousticData/6d52cb46-a6d8-4954-ba7e-1407a1bc2a4a?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=a324840f-37fa-4bbf-91a7-1ced1052bc3e'
wordErrorRate: 0
resultsUrl: 'https://contoso.com/results/9E32D75F-CEE1-47F5-BA32-65E9BBA18743'
id: 0000e4c4-0b0e-437f-b41d-bcfe7ebf7060
createdDateTime: '2019-01-07T11:34:12Z'
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Running
name: Accuracy test
properties: {}
'400':
description: In case the operation cannot be performed successfully.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: BadRequest
message: The request has been incorrect.
x-ms-error-response: true
'401':
description: In case the user isn't authorized.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Unauthorized
message: Authentication is required to access the resource.
x-ms-error-response: true
'403':
description: In case authorized user isn't known or doesn't have the required permissions.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Forbidden
message: No permission to access this resource.
x-ms-error-response: true
'409':
description: In case the specified entity doesn't exist
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: NotFound
message: The specified entity cannot be found.
x-ms-error-response: true
'429':
description: In case the rate limit has been exceeded.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
Retry-After:
description: The minimum number of seconds to wait before not getting this response anymore.
type: integer
examples:
application/json:
code: TooManyRequests
message: The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.
x-ms-error-response: true
security:
- subscription_key: []
token: []
/api/speechtotext/v2.0/datasets:
get:
tags:
- 'Custom Speech datasets for model adaptation:'
summary: Gets a list of datasets for the authenticated subscription.
operationId: GetDatasets
consumes: []
produces:
- application/json
parameters: []
responses:
'200':
description: OK
schema:
type: array
items:
$ref: '#/definitions/Dataset'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
- dataImportKind: Acoustic
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: 9d5f4100-5f8e-4dd6-bd83-9bbbf50d57f1
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Acoustic dataset
properties:
AcceptedLines: '11'
RejectedLines: '2'
ReportUri: 'https://www.example.org/AcousticData/6d52cb46-a6d8-4954-ba7e-1407a1bc2a4a?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=a324840f-37fa-4bbf-91a7-1ced1052bc3e'
- dataImportKind: Pronunciation
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: c0a2c730-19f7-4a78-9e0f-f8b6efa5f0a5
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Pronunciation dataset
properties:
AcceptedLines: '11'
RejectedLines: '2'
ReportUri: 'https://www.example.org/PronunciationData/71e831ef-ba18-4fbb-8559-cea56f98284f?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=5b69ed9e-e848-461b-8f4e-78851bc82f07'
- dataImportKind: Language
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: 702d913a-8ba6-4f66-ad5c-897400b081fb
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Language dataset
properties:
AcceptedLines: '11'
RejectedLines: '2'
ReportUri: 'https://www.example.org/LanguageData/74be207a-22a3-4c24-b6c9-e51297d3d537?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=86eacb5b-f18e-4df4-a250-fcdcbc059c1b'
'401':
description: In case the user isn't authorized.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Unauthorized
message: Authentication is required to access the resource.
x-ms-error-response: true
'403':
description: In case authorized user isn't known or doesn't have the required permissions.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Forbidden
message: No permission to access this resource.
x-ms-error-response: true
'429':
description: In case the rate limit has been exceeded.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
Retry-After:
description: The minimum number of seconds to wait before not getting this response anymore.
type: integer
examples:
application/json:
code: TooManyRequests
message: The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.
x-ms-error-response: true
security:
- subscription_key: []
token: []
'/api/speechtotext/v2.0/datasets/{id}':
get:
tags:
- 'Custom Speech datasets for model adaptation:'
summary: Gets the dataset identified by the given ID.
operationId: GetDataset
consumes: []
produces:
- application/json
parameters:
- name: id
in: path
description: The identifier of the dataset.
required: true
type: string
format: uuid
responses:
'200':
description: OK
schema:
$ref: '#/definitions/Dataset'
headers:
Retry-After:
description: The minimum number of seconds to wait for a running operation to complete.
type: integer
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
dataImportKind: Acoustic
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: 9d5f4100-5f8e-4dd6-bd83-9bbbf50d57f1
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Acoustic dataset
properties:
AcceptedLines: '11'
RejectedLines: '2'
ReportUri: 'https://www.example.org/AcousticData/6d52cb46-a6d8-4954-ba7e-1407a1bc2a4a?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=a324840f-37fa-4bbf-91a7-1ced1052bc3e'
'401':
description: In case the user isn't authorized.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Unauthorized
message: Authentication is required to access the resource.
x-ms-error-response: true
'403':
description: In case authorized user isn't known or doesn't have the required permissions.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Forbidden
message: No permission to access this resource.
x-ms-error-response: true
'404':
description: In case the specified entity doesn't exist
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: NotFound
message: The specified entity cannot be found.
x-ms-error-response: true
'429':
description: In case the rate limit has been exceeded.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
Retry-After:
description: The minimum number of seconds to wait before not getting this response anymore.
type: integer
examples:
application/json:
code: TooManyRequests
message: The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.
x-ms-error-response: true
security:
- subscription_key: []
token: []
delete:
tags:
- 'Custom Speech datasets for model adaptation:'
summary: Deletes the specified dataset.
operationId: DeleteDataset
consumes: []
produces: []
parameters:
- name: id
in: path
description: The identifier of the dataset.
required: true
type: string
format: uuid
responses:
'204':
description: The dataset was successfully deleted.
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
'400':
description: In case the operation cannot be performed successfully.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: BadRequest
message: The request has been incorrect.
x-ms-error-response: true
'401':
description: In case the user isn't authorized.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Unauthorized
message: Authentication is required to access the resource.
x-ms-error-response: true
'403':
description: In case authorized user isn't known or doesn't have the required permissions.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Forbidden
message: No permission to access this resource.
x-ms-error-response: true
'429':
description: In case the rate limit has been exceeded.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
Retry-After:
description: The minimum number of seconds to wait before not getting this response anymore.
type: integer
examples:
application/json:
code: TooManyRequests
message: The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.
x-ms-error-response: true
security:
- subscription_key: []
token: []
patch:
tags:
- 'Custom Speech datasets for model adaptation:'
summary: Updates the mutable details of the dataset identified by its ID.
operationId: UpdateDataset
consumes:
- application/json
produces:
- application/json
parameters:
- name: id
in: path
description: The identifier of the dataset.
required: true
type: string
format: uuid
- name: datasetUpdate
in: body
description: The updated values for the dataset.
required: true
schema:
$ref: '#/definitions/DatasetUpdate'
responses:
'200':
description: OK
schema:
$ref: '#/definitions/Dataset'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
dataImportKind: Acoustic
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: 9d5f4100-5f8e-4dd6-bd83-9bbbf50d57f1
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Acoustic dataset
properties:
AcceptedLines: '11'
RejectedLines: '2'
ReportUri: 'https://www.example.org/AcousticData/6d52cb46-a6d8-4954-ba7e-1407a1bc2a4a?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=a324840f-37fa-4bbf-91a7-1ced1052bc3e'
'400':
description: In case the operation cannot be performed successfully.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: BadRequest
message: The request has been incorrect.
x-ms-error-response: true
'401':
description: In case the user isn't authorized.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Unauthorized
message: Authentication is required to access the resource.
x-ms-error-response: true
'403':
description: In case authorized user isn't known or doesn't have the required permissions.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Forbidden
message: No permission to access this resource.
x-ms-error-response: true
'409':
description: In case the specified entity doesn't exist
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: NotFound
message: The specified entity cannot be found.
x-ms-error-response: true
'429':
description: In case the rate limit has been exceeded.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
Retry-After:
description: The minimum number of seconds to wait before not getting this response anymore.
type: integer
examples:
application/json:
code: TooManyRequests
message: The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.
x-ms-error-response: true
security:
- subscription_key: []
token: []
/api/speechtotext/v2.0/datasets/locales:
get:
tags:
- 'Custom Speech datasets for model adaptation:'
summary: Gets a list of supported locales for data imports.
operationId: GetSupportedLocalesForDatasets
consumes: []
produces:
- application/json
parameters: []
responses:
'200':
description: OK
schema:
title: IReadOnlyDictionary`2
type: object
properties:
None:
type: array
items:
type: string
Language:
type: array
items:
type: string
Acoustic:
type: array
items:
type: string
Pronunciation:
type: array
items:
type: string
CustomVoice:
type: array
items:
type: string
AudioFiles:
type: array
items:
type: string
KeywordAudioTranscript:
type: array
items:
type: string
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
Acoustic:
- en-US
Language:
- en-US
- de-DE
Pronunciation:
- en-US
'401':
description: In case the user isn't authorized.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Unauthorized
message: Authentication is required to access the resource.
x-ms-error-response: true
'403':
description: In case authorized user isn't known or doesn't have the required permissions.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Forbidden
message: No permission to access this resource.
x-ms-error-response: true
'429':
description: In case the rate limit has been exceeded.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
Retry-After:
description: The minimum number of seconds to wait before not getting this response anymore.
type: integer
examples:
application/json:
code: TooManyRequests
message: The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.
x-ms-error-response: true
security:
- subscription_key: []
token: []
/api/speechtotext/v2.0/datasets/upload:
post:
tags:
- 'Custom Speech datasets for model adaptation:'
summary: Uploads data and creates a new dataset.
operationId: UploadDataset
consumes:
- multipart/form-data
produces: []
parameters:
- name: name
in: formData
description: The name of this data import (always add this string for any import).
type: string
- name: description
in: formData
description: Optional description of this data import.
type: string
- name: locale
in: formData
description: The locale of this data import (always add this string for any import).
type: string
- name: dataImportKind
in: formData
description: The kind of the data import (always add this string for any import).
type: string
enum:
- None
- Language
- Acoustic
- Pronunciation
- CustomVoice
- AudioFiles
- KeywordAudioTranscript
- name: properties
in: formData
description: 'Optional properties of this data import (json serialized object with key/values, where all values must be strings)'
type: string
- name: audiodata
in: formData
description: A zip file containing the audio data (this and the audio archive file for acoustic data imports).
type: file
- name: transcriptions
in: formData
description: A text file containing the transcriptions for the audio data (this and the transcriptions file for acoustic data imports).
type: file
- name: languagedata
in: formData
description: A text file containing the language or pronunciation data (only this file for language data imports).
type: file
responses:
'202':
description: The response contains the location of the entity as header.
headers:
Location:
description: The location of the created resource.
type: string
format: uri
Retry-After:
description: The minimum number of seconds to wait before accessing the resource created in this operation.
type: integer
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
'400':
description: In case the operation cannot be performed successfully.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: BadRequest
message: The request has been incorrect.
x-ms-error-response: true
'401':
description: In case the user isn't authorized.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Unauthorized
message: Authentication is required to access the resource.
x-ms-error-response: true
'403':
description: In case authorized user isn't known or doesn't have the required permissions.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Forbidden
message: No permission to access this resource.
x-ms-error-response: true
'415':
description: In case the media type of a file part is not supported.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: UnsupportedMediaType
message: The request entity's media type 'application/xml' is not supported for this resource.
x-ms-error-response: true
'429':
description: In case the rate limit has been exceeded.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
Retry-After:
description: The minimum number of seconds to wait before not getting this response anymore.
type: integer
examples:
application/json:
code: TooManyRequests
message: The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.
x-ms-error-response: true
security:
- subscription_key: []
token: []
x-ms-long-running-operation: true
x-ms-long-running-operation-options:
final-state-via: location
/api/speechtotext/v2.0/endpoints:
get:
tags:
- 'Custom Speech endpoints:'
summary: Gets the list of endpoints for the authenticated subscription.
operationId: GetEndpoints
consumes: []
produces:
- application/json
parameters: []
responses:
'200':
description: OK
schema:
type: array
items:
$ref: '#/definitions/Endpoint'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
- endpointKind: SpeechRecognition
models:
- modelKind: Acoustic
datasets:
- dataImportKind: Acoustic
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: 9d5f4100-5f8e-4dd6-bd83-9bbbf50d57f1
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Acoustic dataset
properties:
AcceptedLines: '11'
RejectedLines: '2'
ReportUri: 'https://www.example.org/AcousticData/6d52cb46-a6d8-4954-ba7e-1407a1bc2a4a?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=a324840f-37fa-4bbf-91a7-1ced1052bc3e'
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Running
id: 827712a5-f942-4997-91c3-7c6cde35600b
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Acoustic model
description: Example for an acoustic model
- modelKind: Language
baseModel:
modelKind: AcousticAndLanguage
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: b28b9e52-395c-4d1b-b5a7-2c6fc4dd5715
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Base model
description: Base model description
properties: {}
datasets:
- dataImportKind: Language
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: 702d913a-8ba6-4f66-ad5c-897400b081fb
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Language dataset
properties:
AcceptedLines: '11'
RejectedLines: '2'
ReportUri: 'https://www.example.org/LanguageData/74be207a-22a3-4c24-b6c9-e51297d3d537?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=86eacb5b-f18e-4df4-a250-fcdcbc059c1b'
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Running
id: ff3c2797-f5f0-4122-9712-83ee87a0abb8
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Language model
description: This is a language model
concurrentRecognitions: 1
contentLoggingEnabled: false
endpointUrls:
UniversalWebSocketInteractive: 'wss://fedev.develop2.cris.ai/speech/recognition/interactive/cognitiveservices/v1?cid=77CB309E-5780-4DE4-877E-BE91B66FA548'
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: 8fa0669c-a01e-4693-ae3a-93baf40f26d9
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Speech endpoint
description: Example for speech endpoint
'401':
description: In case the user isn't authorized.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Unauthorized
message: Authentication is required to access the resource.
x-ms-error-response: true
'403':
description: In case authorized user isn't known or doesn't have the required permissions.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Forbidden
message: No permission to access this resource.
x-ms-error-response: true
'429':
description: In case the rate limit has been exceeded.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
Retry-After:
description: The minimum number of seconds to wait before not getting this response anymore.
type: integer
examples:
application/json:
code: TooManyRequests
message: The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.
x-ms-error-response: true
security:
- subscription_key: []
token: []
post:
tags:
- 'Custom Speech endpoints:'
summary: Creates a new endpoint.
operationId: CreateEndpoint
consumes:
- application/json
produces: []
parameters:
- name: endpointDefinition
in: body
description: The details of the endpoint.
required: true
schema:
$ref: '#/definitions/SpeechEndpointDefinition'
responses:
'202':
description: The response contains the location of the entity as header.
headers:
Location:
description: The location of the created resource.
type: string
format: uri
Retry-After:
description: The minimum number of seconds to wait before accessing the resource created in this operation.
type: integer
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
'400':
description: In case the operation cannot be performed successfully.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: BadRequest
message: The request has been incorrect.
x-ms-error-response: true
'401':
description: In case the user isn't authorized.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Unauthorized
message: Authentication is required to access the resource.
x-ms-error-response: true
'403':
description: In case authorized user isn't known or doesn't have the required permissions.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Forbidden
message: No permission to access this resource.
x-ms-error-response: true
'429':
description: In case the rate limit has been exceeded.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
Retry-After:
description: The minimum number of seconds to wait before not getting this response anymore.
type: integer
examples:
application/json:
code: TooManyRequests
message: The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.
x-ms-error-response: true
security:
- subscription_key: []
token: []
x-ms-long-running-operation: true
x-ms-long-running-operation-options:
final-state-via: location
'/api/speechtotext/v2.0/endpoints/{id}':
get:
tags:
- 'Custom Speech endpoints:'
summary: Gets the endpoint identified by the given ID.
operationId: GetEndpoint
consumes: []
produces:
- application/json
parameters:
- name: id
in: path
description: The identifier of the endpoint.
required: true
type: string
format: uuid
responses:
'200':
description: OK
schema:
$ref: '#/definitions/Endpoint'
headers:
Retry-After:
description: The minimum number of seconds to wait for a running operation to complete.
type: integer
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
endpointKind: SpeechRecognition
models:
- modelKind: Acoustic
datasets:
- dataImportKind: Acoustic
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: 9d5f4100-5f8e-4dd6-bd83-9bbbf50d57f1
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Acoustic dataset
properties:
AcceptedLines: '11'
RejectedLines: '2'
ReportUri: 'https://www.example.org/AcousticData/6d52cb46-a6d8-4954-ba7e-1407a1bc2a4a?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=a324840f-37fa-4bbf-91a7-1ced1052bc3e'
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Running
id: 827712a5-f942-4997-91c3-7c6cde35600b
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Acoustic model
description: Example for an acoustic model
- modelKind: Language
baseModel:
modelKind: AcousticAndLanguage
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: b28b9e52-395c-4d1b-b5a7-2c6fc4dd5715
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Base model
description: Base model description
properties: {}
datasets:
- dataImportKind: Language
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: 702d913a-8ba6-4f66-ad5c-897400b081fb
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Language dataset
properties:
AcceptedLines: '11'
RejectedLines: '2'
ReportUri: 'https://www.example.org/LanguageData/74be207a-22a3-4c24-b6c9-e51297d3d537?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=86eacb5b-f18e-4df4-a250-fcdcbc059c1b'
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Running
id: ff3c2797-f5f0-4122-9712-83ee87a0abb8
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Language model
description: This is a language model
concurrentRecognitions: 1
contentLoggingEnabled: false
endpointUrls:
UniversalWebSocketInteractive: 'wss://fedev.develop2.cris.ai/speech/recognition/interactive/cognitiveservices/v1?cid=77CB309E-5780-4DE4-877E-BE91B66FA548'
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: 8fa0669c-a01e-4693-ae3a-93baf40f26d9
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Speech endpoint
description: Example for speech endpoint
'401':
description: In case the user isn't authorized.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Unauthorized
message: Authentication is required to access the resource.
x-ms-error-response: true
'403':
description: In case authorized user isn't known or doesn't have the required permissions.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Forbidden
message: No permission to access this resource.
x-ms-error-response: true
'404':
description: In case the specified entity doesn't exist
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: NotFound
message: The specified entity cannot be found.
x-ms-error-response: true
'429':
description: In case the rate limit has been exceeded.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
Retry-After:
description: The minimum number of seconds to wait before not getting this response anymore.
type: integer
examples:
application/json:
code: TooManyRequests
message: The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.
x-ms-error-response: true
security:
- subscription_key: []
token: []
delete:
tags:
- 'Custom Speech endpoints:'
summary: Deletes the endpoint identified by the given ID.
operationId: DeleteEndpoint
consumes: []
produces: []
parameters:
- name: id
in: path
description: The identifier of the endpoint.
required: true
type: string
format: uuid
responses:
'204':
description: The model endpoint was successfully deleted.
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
'401':
description: In case the user isn't authorized.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Unauthorized
message: Authentication is required to access the resource.
x-ms-error-response: true
'403':
description: In case authorized user isn't known or doesn't have the required permissions.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Forbidden
message: No permission to access this resource.
x-ms-error-response: true
'429':
description: In case the rate limit has been exceeded.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
Retry-After:
description: The minimum number of seconds to wait before not getting this response anymore.
type: integer
examples:
application/json:
code: TooManyRequests
message: The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.
x-ms-error-response: true
security:
- subscription_key: []
token: []
patch:
tags:
- 'Custom Speech endpoints:'
summary: Updates the metadata of the endpoint identified by the given ID.
operationId: UpdateEndpoint
consumes:
- application/json
produces:
- application/json
parameters:
- name: id
in: path
description: The identifier of the endpoint.
required: true
type: string
format: uuid
- name: endpointUpdate
in: body
description: The updated values for the endpoint.
required: true
schema:
$ref: '#/definitions/EndpointMetadataUpdate'
responses:
'200':
description: OK
schema:
$ref: '#/definitions/Endpoint'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
endpointKind: SpeechRecognition
models:
- modelKind: Acoustic
datasets:
- dataImportKind: Acoustic
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: 9d5f4100-5f8e-4dd6-bd83-9bbbf50d57f1
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Acoustic dataset
properties:
AcceptedLines: '11'
RejectedLines: '2'
ReportUri: 'https://www.example.org/AcousticData/6d52cb46-a6d8-4954-ba7e-1407a1bc2a4a?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=a324840f-37fa-4bbf-91a7-1ced1052bc3e'
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Running
id: 827712a5-f942-4997-91c3-7c6cde35600b
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Acoustic model
description: Example for an acoustic model
- modelKind: Language
baseModel:
modelKind: AcousticAndLanguage
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: b28b9e52-395c-4d1b-b5a7-2c6fc4dd5715
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Base model
description: Base model description
properties: {}
datasets:
- dataImportKind: Language
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: 702d913a-8ba6-4f66-ad5c-897400b081fb
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Language dataset
properties:
AcceptedLines: '11'
RejectedLines: '2'
ReportUri: 'https://www.example.org/LanguageData/74be207a-22a3-4c24-b6c9-e51297d3d537?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=86eacb5b-f18e-4df4-a250-fcdcbc059c1b'
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Running
id: ff3c2797-f5f0-4122-9712-83ee87a0abb8
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Language model
description: This is a language model
concurrentRecognitions: 1
contentLoggingEnabled: false
endpointUrls:
UniversalWebSocketInteractive: 'wss://fedev.develop2.cris.ai/speech/recognition/interactive/cognitiveservices/v1?cid=77CB309E-5780-4DE4-877E-BE91B66FA548'
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: 8fa0669c-a01e-4693-ae3a-93baf40f26d9
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Speech endpoint
description: Example for speech endpoint
'400':
description: In case the operation cannot be performed successfully.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: BadRequest
message: The request has been incorrect.
x-ms-error-response: true
'401':
description: In case the user isn't authorized.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Unauthorized
message: Authentication is required to access the resource.
x-ms-error-response: true
'403':
description: In case authorized user isn't known or doesn't have the required permissions.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Forbidden
message: No permission to access this resource.
x-ms-error-response: true
'409':
description: In case the specified entity doesn't exist
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: NotFound
message: The specified entity cannot be found.
x-ms-error-response: true
'429':
description: In case the rate limit has been exceeded.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
Retry-After:
description: The minimum number of seconds to wait before not getting this response anymore.
type: integer
examples:
application/json:
code: TooManyRequests
message: The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.
x-ms-error-response: true
security:
- subscription_key: []
token: []
/api/speechtotext/v2.0/endpoints/locales:
get:
tags:
- 'Custom Speech endpoints:'
summary: Gets a list of supported locales for endpoint creations.
operationId: GetSupportedLocalesForEndpoints
consumes: []
produces:
- application/json
parameters: []
responses:
'200':
description: OK
schema:
type: array
items:
type: string
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
- en-US
- de-DE
'401':
description: In case the user isn't authorized.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Unauthorized
message: Authentication is required to access the resource.
x-ms-error-response: true
'403':
description: In case authorized user isn't known or doesn't have the required permissions.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Forbidden
message: No permission to access this resource.
x-ms-error-response: true
'429':
description: In case the rate limit has been exceeded.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
Retry-After:
description: The minimum number of seconds to wait before not getting this response anymore.
type: integer
examples:
application/json:
code: TooManyRequests
message: The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.
x-ms-error-response: true
security:
- subscription_key: []
token: []
'/api/speechtotext/v2.0/endpoints/{endpointId}/data':
get:
tags:
- 'Custom Speech endpoints:'
summary: Gets the list of endpoint data export tasks for the authenticated user.
operationId: GetEndpointDataExports
consumes: []
produces:
- application/json
parameters:
- name: endpointId
in: path
description: The identifier of the endpoint.
required: true
type: string
format: uuid
responses:
'200':
description: OK
schema:
type: array
items:
$ref: '#/definitions/EndpointData'
headers:
Retry-After:
description: The minimum number of seconds to wait for a running operation to complete.
type: integer
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
- startDate: '2018-12-08T00:00:00Z'
endDate: '2019-01-07T00:00:00Z'
dataUrl: 'https://contoso.com/'
id: 9cf1e320-41b1-41e6-bdd3-8fb27cb2c90a
createdDateTime: '2019-01-07T11:34:12Z'
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
'401':
description: In case the user isn't authorized.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Unauthorized
message: Authentication is required to access the resource.
x-ms-error-response: true
'403':
description: In case authorized user isn't known or doesn't have the required permissions.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Forbidden
message: No permission to access this resource.
x-ms-error-response: true
'404':
description: In case the specified entity doesn't exist
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: NotFound
message: The specified entity cannot be found.
x-ms-error-response: true
'429':
description: In case the rate limit has been exceeded.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
Retry-After:
description: The minimum number of seconds to wait before not getting this response anymore.
type: integer
examples:
application/json:
code: TooManyRequests
message: The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.
x-ms-error-response: true
security:
- subscription_key: []
token: []
post:
tags:
- 'Custom Speech endpoints:'
summary: Create a new endpoint data export task.
operationId: CreateEndpointDataExport
consumes:
- application/json
produces: []
parameters:
- name: endpointId
in: path
description: The identifier of the endpoint.
required: true
type: string
format: uuid
- name: endpointDataDefinition
in: body
description: The details of the new endpoint data export.
required: true
schema:
$ref: '#/definitions/EndpointDataDefinition'
responses:
'202':
description: The response contains the id of the endpoint data export task.
schema:
$ref: '#/definitions/ErrorContent'
headers:
Location:
description: The location of the created resource.
type: string
format: uri
Retry-After:
description: The minimum number of seconds to wait before accessing the resource created in this operation.
type: integer
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
'400':
description: In case the operation cannot be performed successfully.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: BadRequest
message: The request has been incorrect.
x-ms-error-response: true
'401':
description: In case the user isn't authorized.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Unauthorized
message: Authentication is required to access the resource.
x-ms-error-response: true
'403':
description: In case authorized user isn't known or doesn't have the required permissions.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Forbidden
message: No permission to access this resource.
x-ms-error-response: true
'404':
description: In case the specified entity doesn't exist
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: NotFound
message: The specified entity cannot be found.
x-ms-error-response: true
'429':
description: In case the rate limit has been exceeded.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
Retry-After:
description: The minimum number of seconds to wait before not getting this response anymore.
type: integer
examples:
application/json:
code: TooManyRequests
message: The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.
x-ms-error-response: true
security:
- subscription_key: []
token: []
x-ms-long-running-operation: true
x-ms-long-running-operation-options:
final-state-via: location
delete:
tags:
- 'Custom Speech endpoints:'
summary: Deletes the transcriptions and captured audio files associated with the endpoint identified by the given ID.
description: Deletion will happen in the background and can take up to a day.
operationId: DeleteEndpointData
consumes: []
produces: []
parameters:
- name: endpointId
in: path
description: The identifier of the endpoint.
required: true
type: string
format: uuid
responses:
'204':
description: The endpoint data export tasks were successfully deleted.
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
'401':
description: In case the user isn't authorized.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Unauthorized
message: Authentication is required to access the resource.
x-ms-error-response: true
'403':
description: In case authorized user isn't known or doesn't have the required permissions.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Forbidden
message: No permission to access this resource.
x-ms-error-response: true
'429':
description: In case the rate limit has been exceeded.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
Retry-After:
description: The minimum number of seconds to wait before not getting this response anymore.
type: integer
examples:
application/json:
code: TooManyRequests
message: The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.
x-ms-error-response: true
security:
- subscription_key: []
token: []
'/api/speechtotext/v2.0/endpoints/{endpointId}/data/{id}':
get:
tags:
- 'Custom Speech endpoints:'
summary: Gets the specified endpoint data export task for the authenticated user.
operationId: GetEndpointDataExport
consumes: []
produces:
- application/json
parameters:
- name: endpointId
in: path
description: The identifier of the endpoint.
required: true
type: string
format: uuid
- name: id
in: path
description: The identifier of the data export.
required: true
type: string
format: uuid
responses:
'200':
description: OK
schema:
$ref: '#/definitions/EndpointData'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
startDate: '2018-12-08T00:00:00Z'
endDate: '2019-01-07T00:00:00Z'
dataUrl: 'https://contoso.com/'
id: 9cf1e320-41b1-41e6-bdd3-8fb27cb2c90a
createdDateTime: '2019-01-07T11:34:12Z'
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
'401':
description: In case the user isn't authorized.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Unauthorized
message: Authentication is required to access the resource.
x-ms-error-response: true
'403':
description: In case authorized user isn't known or doesn't have the required permissions.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Forbidden
message: No permission to access this resource.
x-ms-error-response: true
'404':
description: In case the specified entity doesn't exist
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: NotFound
message: The specified entity cannot be found.
x-ms-error-response: true
'429':
description: In case the rate limit has been exceeded.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
Retry-After:
description: The minimum number of seconds to wait before not getting this response anymore.
type: integer
examples:
application/json:
code: TooManyRequests
message: The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.
x-ms-error-response: true
security:
- subscription_key: []
token: []
delete:
tags:
- 'Custom Speech endpoints:'
summary: Deletes the endpoint data export task identified by the given ID.
operationId: DeleteEndpointDataExport
consumes: []
produces: []
parameters:
- name: endpointId
in: path
description: The identifier of the endpoint.
required: true
type: string
format: uuid
- name: id
in: path
description: The identifier of the endpoint data export.
required: true
type: string
format: uuid
responses:
'204':
description: The endpoint data export task was successfully deleted.
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
'400':
description: In case the operation cannot be performed successfully.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: BadRequest
message: The request has been incorrect.
x-ms-error-response: true
'401':
description: In case the user isn't authorized.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Unauthorized
message: Authentication is required to access the resource.
x-ms-error-response: true
'403':
description: In case authorized user isn't known or doesn't have the required permissions.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Forbidden
message: No permission to access this resource.
x-ms-error-response: true
'429':
description: In case the rate limit has been exceeded.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
Retry-After:
description: The minimum number of seconds to wait before not getting this response anymore.
type: integer
examples:
application/json:
code: TooManyRequests
message: The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.
x-ms-error-response: true
security:
- subscription_key: []
token: []
/api/speechtotext/v2.0/models:
get:
tags:
- 'Custom Speech models:'
summary: Gets the list of models for the authenticated subscription.
operationId: GetModels
consumes: []
produces:
- application/json
parameters: []
responses:
'200':
description: OK
schema:
type: array
items:
$ref: '#/definitions/Model'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
- modelKind: Language
baseModel:
modelKind: AcousticAndLanguage
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: b28b9e52-395c-4d1b-b5a7-2c6fc4dd5715
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Base model
description: Base model description
properties: {}
datasets:
- dataImportKind: Language
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: 702d913a-8ba6-4f66-ad5c-897400b081fb
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Language dataset
properties:
AcceptedLines: '11'
RejectedLines: '2'
ReportUri: 'https://www.example.org/LanguageData/74be207a-22a3-4c24-b6c9-e51297d3d537?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=86eacb5b-f18e-4df4-a250-fcdcbc059c1b'
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Running
id: ff3c2797-f5f0-4122-9712-83ee87a0abb8
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Language model
description: This is a language model
- modelKind: Acoustic
datasets:
- dataImportKind: Acoustic
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Succeeded
id: 9d5f4100-5f8e-4dd6-bd83-9bbbf50d57f1
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Acoustic dataset
properties:
AcceptedLines: '11'
RejectedLines: '2'
ReportUri: 'https://www.example.org/AcousticData/6d52cb46-a6d8-4954-ba7e-1407a1bc2a4a?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=a324840f-37fa-4bbf-91a7-1ced1052bc3e'
lastActionDateTime: '2019-01-07T11:36:07Z'
status: Running
id: 827712a5-f942-4997-91c3-7c6cde35600b
createdDateTime: '2019-01-07T11:34:12Z'
locale: en-US
name: Acoustic model
description: Example for an acoustic model
'401':
description: In case the user isn't authorized.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Unauthorized
message: Authentication is required to access the resource.
x-ms-error-response: true
'403':
description: In case authorized user isn't known or doesn't have the required permissions.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Forbidden
message: No permission to access this resource.
x-ms-error-response: true
'429':
description: In case the rate limit has been exceeded.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
Retry-After:
description: The minimum number of seconds to wait before not getting this response anymore.
type: integer
examples:
application/json:
code: TooManyRequests
message: The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.
x-ms-error-response: true
security:
- subscription_key: []
token: []
post:
tags:
- 'Custom Speech models:'
summary: Creates a new model.
operationId: CreateModel
consumes:
- application/json
produces: []
parameters:
- name: modelDefinition
in: body
description: The details of the new model.
required: true
schema:
$ref: '#/definitions/SpeechModelDefinition'
responses:
'202':
description: The response contains the location of the entity as header.
headers:
Location:
description: The location of the created resource.
type: string
format: uri
Retry-After:
description: The minimum number of seconds to wait before accessing the resource created in this operation.
type: integer
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
'400':
description: In case the operation cannot be performed successfully.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: BadRequest
message: The request has been incorrect.
x-ms-error-response: true
'401':
description: In case the user isn't authorized.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Unauthorized
message: Authentication is required to access the resource.
x-ms-error-response: true
'403':
description: In case authorized user isn't known or doesn't have the required permissions.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
examples:
application/json:
code: Forbidden
message: No permission to access this resource.
x-ms-error-response: true
'429':
description: In case the rate limit has been exceeded.
schema:
$ref: '#/definitions/ErrorContent'
headers:
X-RateLimit-Limit:
description: The limit of requests for the resource.
type: integer
X-RateLimit-Remaining:
description: The remaining number of requests until the rate limit is reached.
type: integer
X-RateLimit-Reset:
description: The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.
type: string
Retry-After:
description: The minimum number of seconds to wait before not getting this response anymore.
type: integer
examples:
application/json:
code: TooManyRequests
message: The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.
x-ms-error-response: true
security:
- subscription_key: []
token: []
x-ms-long-running-operation: true
[...]
